:root{
    /* colors */
    --color-text:white;
    --color-bg:#04152d;
    --color-dar:#1b3355;
    --color-primary:#576cbc;
    --color-secondary:#19376d;

    /* font */
    --font-robot:"Roboto", sans-serif;
}